.kcjex { 
  margin-right: 70px;
  padding-bottom: 16px;
  font-size: 32px;
  font-size: 52px;
  border-bottom-width: 43px;
  font-size: 29px;
  line-height: 66px;
  border-top-width: 16px;
  font-size: 90px;
  padding-right: 94px;
}
